<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="../static/css/style.css" />
    <title>4조 | I 들의 모임</title>

    <script>
      $(document).ready(function () {
            show_comment();
        });

        function show_comment() {
            $.ajax({
                type: "GET",
                url: "/",
                data: {},
                success: function (response) {
                        let rows = response['tmis']
                    for (let i = 0; i < rows.length; i++){
                      let num = rows[i]['num']
                      let name = rows[i]['name']
                      let blog = rows[i]['blog']
                      let mbti = rows[i]['mbti']
                      let style = rows[i]['style']
                      let profile = rows[i]['profile']
                      let hobby = rows [i]['hobby']


                        let temp_html = `<ul>
                                            <li class="name">${name}</li>
                                            <li>${num}</li>
                                            <li>${mbti}</li>
                                            <li>${style}</li>
                                            <li>${hobby}</li>
                                            <li>${blog}</li>
                                            </ul>`
                        $('#tmi').append(temp_html)
                    }
    </script>
  </head>
  <body>
    <header class="index-header"></header>
    <main class="index-main">
      <a href="#" class="rotate">
        <div id="tmi" class="card">
          <div class="front"></div>
          <div class="back">

          </div>
        </div>
      </a>
      <a href="#" class="rotate">
        <div class="card">
          <div class="front"></div>
          <div class="back">

          </div>
        </div>
      </a>
      <a href="#" class="rotate">
        <div id="tmi" class="card">
          <div class="front"></div>
          <div class="back">

          </div>
        </div>
      </a>
      <a href="#" class="rotate">
        <div id="tmi" class="card">
          <div class="front"></div>
          <div class="back">

          </div>
        </div>
      </a>
      <a href="#" class="rotate">
        <div id="tmi" class="card">
          <div class="front"></div>
          <div class="back">

          </div>
        </div>
      </a>
      <a href="#" class="rotate">
        <div id="tmi" class="card">
          <div class="front"></div>
          <div class="back">

          </div>
        </div>
      </a>
    </main>
  </body>
</html>
