<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div class="myteam">
            <img src="https://cdn.discordapp.com/attachments/1041674977755271168/1041892109147455558/e7104236ccc0a9dd.png">
    </div>
    <div class="cards">
        <div class="row row-cols-1 row-cols-md-6 g-4">
            <div class="col">
                <div class="card">
                    <img src="https://cdn.discordapp.com/attachments/1041674977755271168/1041901155040641084/-.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">I</h5>
                        <p class="card-text">팀 목표, 팀 약속</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img src="https://cdn.discordapp.com/attachments/1041674977755271168/1041921563550826516/-1.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">강하루</h5>
                        <p class="card-text"></p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img src="https://cdn.discordapp.com/attachments/1041674977755271168/1041898945946849401/-.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">오명규</h5>
                        <p class="card-text"></p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img src="https://cdn.discordapp.com/attachments/1041674977755271168/1041898946852835368/-.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">김우중</h5>
                        <p class="card-text"></p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img src="https://cdn.discordapp.com/attachments/1041674977755271168/1041898946383052870/-.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">이호승</h5>
                        <p class="card-text"></p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img src="https://cdn.discordapp.com/attachments/1041674977755271168/1041898945569378356/-.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">주민석</h5>
                        <p class="card-text"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>