<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/css/style.css" />
    <title>4조 | I 들의 모임</title>
  </head>
  <body>
    <header class="index-header"></header>
    <main class="index-main">
      <a href="#" class="rotate">
        <div class="card">
          <div class="front"></div>
          <div class="back">
            <ul>
              <li class="name">4조</li>
              <li>#주민석</li>
              <li>#강하루</li>
              <li>#김우중</li>
              <li>#이호승</li>
            </ul>
          </div>
        </div>
      </a>
      <a href="#" class="rotate">
        <div class="card">
          <div class="front"></div>
          <div class="back">
            <ul>
              <li class="name">주민석</li>
              <li>#팀장</li>
              <li>#금손</li>
              <li>#---</li>
              <li>#MBTI</li>
            </ul>
          </div>
        </div>
      </a>
      <a href="#" class="rotate">
        <div class="card">
          <div class="front"></div>
          <div class="back">
            <ul>
              <li class="name">강하루</li>
              <li>#---</li>
              <li>#---</li>
              <li>#---</li>
              <li>#MBTI</li>
            </ul>
          </div>
        </div>
      </a>
      <a href="#" class="rotate">
        <div class="card">
          <div class="front"></div>
          <div class="back">
            <ul>
              <li class="name">김우중</li>
              <li>#---</li>
              <li>#---</li>
              <li>#---</li>
              <li>#MBTI</li>
            </ul>
          </div>
        </div>
      </a>
      <a href="#" class="rotate">
        <div class="card">
          <div class="front"></div>
          <div class="back">
            <ul>
              <li class="name">이호승</li>
              <li>#---</li>
              <li>#---</li>
              <li>#---</li>
              <li>#MBTI</li>
            </ul>
          </div>
        </div>
      </a>
    </main>
  </body>
</html>