<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="../static/css/style.css"/>
    <title>4조 | {username}</title>
</head>
<body>
<section class="screen">
    <header class="profile">
        <div class="profile__avatar">
            <img src="../static/imgs/wjavatar.png" class="profile__avatar__photo"/>
        </div>
        <ul class="profile__info">
            <li class="profile__info__name">
                <h3>🪪{username}</h3>
            </li>
            <li class="profile__info__mbti">
                <a href="#" class="close">❌</a>
                <span>🧮{mbti}</span>
            </li>
            <li class="profile__info__work">
                <span>🤝{협업스타일}</span>
            </li>
            <li class="profile__info__blog">
                <a href="#">✍{블로그}</a>
            </li>
        </ul>
    </header>
    <main class="feed-box">
        <section class="feed">1</section>
        <section class="feed">2</section>
        <section class="feed">3</section>
        <section class="feed">4</section>
        <section class="feed">5</section>
        <section class="feed">6</section>
    </main>
</section>
</body>
</html>