<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="../static/css/style.css"/>
    <title>4조 | I 들의 모임</title>
</head>
<body>
<section class="screen team-screen">
    <header class="team-header">
        <img class="team-header__title" src="../imgs/title.png"/>
    </header>
    <main class="team-main">
        <section class="goal">
            <h3 class="goal__title title--style">🎯목표</h3>
            <p class="goal__text text--style">{goal}</p>
        </section>
        <section class="description">
            <h3 class="desc__title title--style">🧑‍💻소개</h3>
            <p class="desc__text text--style">{desc}</p>
        </section>
        <section class="promise">
            <h3 class="promise__title title--style">🤙약속</h3>
            <p class="promise__text text--style">{promise}</p>
        </section>
    </main>
</section>
</body>
</html>