<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/static/css/style.css"/>
    <title>4조 | Photo Upload</title>
    <script>
        $(document).ready(function () {
            getPhoto()
        });

        function getPhoto() {
            const photo = '{{ photo }}'
            const photoId = '{{ photo_id }}'
            const commentsStr = '{{ comments }}'
            const userId ='{{ user_id }}'
            const comments = commentsStr.slice(1,-1).replaceAll("&#39;","").split(",").map(photo=>photo.trim())


            $('.close').attr('href',`/users/${userId}`)
            $('.photo img').attr('src',`${photo}`)

            console.log(comments)

            if(comments.length !== 0){
              for( let i = 0; i < comments.length; i++ ){
                  let comment = comments[i]
                  let temp_html = `<li>${comment}</li>`

                  $('.comment_list').append(temp_html)
                    }}
            }








    </script>
</head>
<body>
<main class="screen photo-screen">
    <a href="" class="close">❌</a>
    <section class="photo">
        <img src=""/>
    </section>
    <section class="comment">
        <ul class="comment_list">

        </ul>
        <form class="comment-form" method="post">
            <div>
                <input type="text" name="comment" id="comment-input" placeholder="🗨️ 예쁘게 말하기">
                <input type="submit" value="⬆️" id="comment-submit">
            </div>
        </form>
    </section>
</main>
</body>
</html>