<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="../static/css/style.css"/>
    <title>4조 | Photo Upload</title>
</head>
<body>
<main class="screen photo-screen">
    <a href="#" class="close">❌</a>
    <section class="photo">
        <img src="/imgs/team-avatar.png"/>
    </section>
    <section class="comment">
        <ul class="comment__list">
            <li>comment 예시용</li>
            <li>comment 예시용</li>
            <li>comment 예시용</li>
            <li>comment 예시용</li>
        </ul>
        <form class="comment-form" method="post">
            <div>
                <input type="text" name="comment" id="comment-input" placeholder="🗨️ 예쁘게 말하기">
                <input type="submit" value="⬆️" id="comment-submit">
            </div>
        </form>
    </section>
</main>
</body>
</html>