<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="/static/css/style.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
    <title>4조 | Photo Upload</title>
    <script>
        $(document).ready(function () {
            getPhoto()
        });

        function getPhoto() {
            let userId = '{{ user_id }}';
            let photoId = '{{ photo_id }}';


            $.ajax({
                type: "GET",
                url: `/users/${userId}/photos/${photoId}`,
                data: {},
                success: function (response) {
                }
            })

        }
    </script>
</head>
<body>
<main class="screen photo-screen">
    <a href="#" class="close">❌</a>
    <section class="photo">
        <img src="/static/imgs/team-avatar.png"/>
    </section>
    <section class="comment">
        <ul class="comment__list">
            <li>comment 예시용</li>
            <li>comment 예시용</li>
            <li>comment 예시용</li>
            <li>comment 예시용</li>
        </ul>
        <form class="comment-form" method="post">
            <div>
                <input type="text" name="comment" id="comment-input" placeholder="🗨️ 예쁘게 말하기">
                <input type="submit" value="⬆️" id="comment-submit">
            </div>
        </form>
    </section>
</main>
</body>
</html>